<%= render :partial => "about_info" %>

<div class="box" id="faq">
  <a name="faq"></a>
  <h1>FAQ</h1>
  <div>
    <table>
      <tr>
        <td>
          <%= button_to_function "How to get there?", :onclick => "show_info(1)", :class => "actionBtn" %><br/>
          <%= button_to_function "Who should be there?", :onclick => "show_info(2)", :class => "actionBtn" %><br/>
          <%= button_to_function "What to bring?", :onclick => "show_info(3)", :class => "actionBtn" %><br/>
          <%= button_to_function "Who to contact?", :onclick => "show_info(4)", :class => "actionBtn" %><br/>
        </td>
        <td width="200px">
          <div id="must_know_1" class="must_know_info">
            <strong>What?</strong><br/>
            YOUTH '10 - Malaysia largest youths festival
          </div>
          <div id="must_know_2" class="must_know_info" style="display:none">
            <strong>When?</strong><br/>
            8pm - 10pm<br/>
            Friday - Sunday May 28 - 30, 2010
          </div>
          <div id="must_know_3" class="must_know_info" style="display:none">
            <strong>Where?</strong><br/>
            PWTC (Putrajaya World Trade Center)
          </div>
          <div id="must_know_4" class="must_know_info" style="display:none">
            <strong>Who?</strong><br/>
            70000 youths and much more
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>