<div class="top_box">
  <table>
    <tr>
      <td>
        In the past two years hundres of groups have gathered to come to YOUTH '08 and '09.
        This year we want to reward youths who organize the largest gathering at YOUTH '10.
        RM2000 will be given away to 10 groups with largest number of RSVPs on Facebook.
        <%= link_to_function "Learn more about the contest", :onclick => "$('learn_more').toggle();" %>
        <div style="display:none" id="learn_more">
            <strong>How?</strong><br/>
            1. Create your gathering on Facebook<br/>
            2. Submit the event link on the app<br/>
            3. Invite your friends to join the gathering<br/>
            4. 10 largest gatherings (based on RSVP Attending) will get RM200 each<br/>
            <br/><br/>
            <strong>When?</strong><br/>
            The contest is open from 12.01am April 1 - 11.59pm May 27, 2010.<br/>
            Gatherings submitted after that period will not be considered.<br/>
            Winners will be announced on the Facebook fanpage and Twitter on May 30, 2010.<br/>
            <br/><br/>
            <strong>Who?</strong><br/>
            The contest is open for people between 15 and 35 of all races, nationalities, religions.<br/>
            <br/><br/>
            <strong>Rules & Regulations</strong><br/>
            1. All the gatherings (Facebook event) must include this text in the end of event description:
            '"YOUTH '10 is Malaysia's largest youth festival.<br/>
            This event is an entry of YOUTH '10 Gatherings contest: "Bring the largest group to YOUTH '10 and win up to RM200!"'
            Visit <a href="http://apps.facebook.com/youthfestival">http://apps.facebook.com/youthfestival</a> for more information
            <br/>or<br/>
            Become a fan of YOUTH '10 on Facebook: <a href="http://facebook.com/youth10">http://facebook.com/youth10</a><br/>
            Follow YOUTH '10 on Twitter: <a href="http://twitter.com/youth10fest">http://twitter.com/youth10fest</a><br/>
            Subscribe to YOUTH '10 YouTube channel: <a href="http://youtube.com/youth10fest">http://youtube.com/youth10fest</a><br/>
            <br/><br/>
            2. The gathering organizer must be a fan of YOUTH '10 on Facebook.<br/>
            3. The event must be created by YOU<br/>
            4. You can submit multiple entries but can only have 1 winning entry.<br/>
        </div>
        <br/>
        Create your gathering with the form below to begin.
      </td>
    </tr>
  </table>
</div>

<div id="steps" class="box">
  <h1>4 simple steps to your gathering</h1>
  <div>
    <table class="info_table">
      <tr>
        <td>
          <%= image_tag("/images/step1.jpg") %>
        </td>
        <td>
          <%= image_tag("/images/step2.jpg") %>
        </td>
        <td>
          <%= image_tag("/images/step3.jpg") %>
        </td>
        <td>
          <%= image_tag("/images/step4.jpg") %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>1.</strong>
          Come up with a brilliant idea. Give your gathering a name like "Young A-List geeks come together at YOUTH '10"
        </td>
        <td>
          <strong>2.</strong>
          Put it on a Facebook Event with details about who should join the gathering, who to contact and where to meet
        </td>
        <td>
          <strong>3.</strong>
          Copy the Facebook Event link and submit it <%= link_to "here", "#create_form" %>
        </td>
        <td>
          <strong>4.</strong>
          Invite all your friends to join. Put it on Twitter, blog, forums ... The more the merrier
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="gathering" class="box">
  <a name="create_form"></a>
  <h1>Submit your gathering</h1>
  <div id="gathering_form">
    <%= render :partial => "gathering_form" %>
  </div>
</div>
<div id="your_gathering" class="box" <%= "style='display:none'" if @your_gatherings.blank? %>
  <% unless @your_gatherings.blank? %>
      <%= render :partial => "your_gathering" %>
  <% end %>
</div>

<div id="all_gathering" class="box">
  <h1>All gatherings at YOUTH '10</h1>
  <div id="all_gatherings">
    <%= render :partial => "all_gathering" %>
  </div>
</div>