<div id="why_volunteer" class="box">
  <h1>Why volunteer at YOUTH '10?</h1>
  <div>
    Some reasons go here
  </div>
</div>

<% if !@already_applied %>
<div id="volunteer_form" class="box">
  <h1>Apply to become a volunteer</h1>
  <%= error_messages_for :volunteer %>
  <% form_for :volunteer, @volunteer, 
    :url => {:action => "create_volunteer"}, :html => {:multipart => true} do |f| %>
  <div>
    <table id="voulenteer_form">
      <tr>
        <td><%= f.text_field :name, :value => @volunteer.name || "Name", :onclick => "if (this.value == 'Name') this.value='';", :onblur => "if (this.value == '') this.value='Name';" %></td>
        <td><%= f.select :school, Volunteer::SCHOOLS, {}, {:class => "select_wide"} %></td>
        <td>Choose 3 positions you interested in:</td>
      </tr>
      <tr>
        <td><%= f.text_field :ic_number, :value => @volunteer.ic_number || "IC number", :onclick => "if (this.value == 'IC number') this.value='';", :onblur => "if (this.value == '') this.value='IC number';" %></td>
        <td><%= f.select :state, Volunteer::STATES, {}, {:class => "select_wide"} %></td>
        <td><%= f.select :position_1, Volunteer::POSITION, {}, {:class => "select_wide"} %></td>
      </tr>
      <tr>
        <td><%= f.text_field :email, :value => @volunteer.email || "Email", :onclick => "if (this.value == 'Email') this.value='';", :onblur => "if (this.value == '') this.value='Email';" %></td>
        <td></td>
        <td><%= f.select :position_2, Volunteer::POSITION, {}, {:class => "select_wide"} %></td>
      </tr>
      <tr>
        <td><%= f.text_field :phone, :value => @volunteer.phone || "Phone", :onclick => "if (this.value == 'Phone') this.value='';", :onblur => "if (this.value == '') this.value='Phone';" %></td>
        <td></td>
        <td><%= f.select :position_3, Volunteer::POSITION, {}, {:class => "select_wide"} %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.text_area :reason, :rows => 5, :cols => 60, :value => @volunteer.reason || "Tell us why you want to join YOUTH 10", :onclick => "if (this.value == 'Tell us why you want to join YOUTH 10') this.value='';", :onblur => "if (this.value == '') this.value='Tell us why you want to join YOUTH 10';" %></td>
        <td>
          <p>
            Your CV: <%= f.file_field :uploaded_data, :size => 10 %>
          </p>
          <p>
            <%= submit_tag "Submit", :class => "green" %>
          </p>
        </td>
      </tr>
    </table>
  </div>
  <% end %>
</div>
<% end %>

<div id="volunteer_opp" class="box">
  <h1>
    Volunteers Opportunities
  </h1>
  <div>
    <%= Content.first ? Content.first.volunteer_opp : "" %>
  </div>
</div>

<div id="volunteer_list" class="box">
  <h1>
    Volunteers at YOUTH '10
    <span class="see_all">
      <%= link_to "See all", { :action => "volunteer_list" }, :class => "seeAll" %>
    </span>
  </h1>
  <div id="volunteers_panel">
    <%= render :partial => "volunteer_panel" %>
  </div>
</div>