<div class="top_box">
  <table>
    <tr>
      <td>
        In the past two years hundres of groups have gathered to come to Youth '08 and '09.
        This year we want to reward youths who organize the largest gathering at Youth '10.
        RM50,000 will be given away to 20 groups with largest number of RSVPs on Facebook.
        <br/>
        <br/>
        Create your gathering with the form below to begin.
      </td>
    </tr>
  </table>
</div>

<div id="steps" class="box">
  <h1>4 simple steps to your gathering</h1>
  <div>
    <table class="info_table">
      <tr>
        <td>
          <%= image_tag("/images/step1.jpg") %>
        </td>
        <td>
          <%= image_tag("/images/step2.jpg") %>
        </td>
        <td>
          <%= image_tag("/images/step3.jpg") %>
        </td>
        <td>
          <%= image_tag("/images/step4.jpg") %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>1.</strong>
          Come up with a brilliant idea. Give your gathering a name like "Young A-List geeks come together at Youth'10"
        </td>
        <td>
          <strong>2.</strong>
          Put it on a Facebook Event with details about who should join the gathering, who to contact and where to meet
        </td>
        <td>
          <strong>3.</strong>
          Copy the Facebook Event link and submit it <%= link_to "here", "#create_form" %>
        </td>
        <td>
          <strong>4.</strong>
          Invite all your friends to join. Put it on Twitter, blog, forums ... The more the merrier
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="gathering" class="box">
  <a name="create_form"></a>
  <h1>Submit your gathering</h1>
  <div id="gathering_form">
    <%= render :partial => "gathering_form" %>
  </div>
</div>

<div id="your_gathering" class="box">
  <%= render :partial => "your_gathering" %>
</div>

<div id="all_gathering" class="box">
  <h1>All gatherings at Youth '10</h1>
  <div id="all_gatherings">
    <%= render :partial => "all_gathering" %>
  </div>
</div>