<div class="box">
  <table>
    <tr>
      <td>
        In the past two years hundres of groups have gathered to come to Youth '08 and '09.
        This year we want to reward youths who organize the largest gathering at Youth '10.
        RM50000 will be given away to 20 groups with largest number of RSVPs on Facebook.
      </td>
      <td>
        <%= link_to image_tag("/images/create_gathering.jpg"), "#create_form", :class => "bigButton" %>
      </td>
    </tr>
  </table>
</div>

<div id="steps" class="box">
  <h1>4 simple steps to your gathering</h1>

</div>

<div id="gathering" class="box">
  <a name="create_form"></a>
  <h1>Submit your gathering</h1>
  <div id="gathering_form">
    <%= render :partial => "gathering_form" %>
  </div>
</div>

<div id="your_gathering" class="box">
  <h1>Gatherings you have submitted</h1>
  <% @your_gathering_events.each do |event| %>
    <%= render :partial => "event", :locals => {:event => event} %>
  <% end %>
  <br class="clr"/>
  <div>
    <%= will_paginate @your_gatherings, :param_name => 'page_your' %>
  </div>
</div>

<div id="all_gathering" class="box">
  <h1>All gatherings at Youth '10</h1>
  <% @all_gathering_events.each do |event| %>
    <%= render :partial => "event" %>
  <% end %>
  <br class="clr"/>
  <div>
    <%= will_paginate @all_gatherings, :param_name => 'page_all' %>
  </div>
</div>