
<div id="top_info" class="box">
  <h1>Malaysia's largest youth festival is back</h1>
  Place holder (Munirah)
  <br class="clr"/>
</div>

<div id="events" class="box">
  <h1>
    Featured events
    <span class="see_all">
      <%= link_to "See all", { :action => "event_list" }, :class => "seeAll" %>
    </span>
  </h1>

  <div id="events_panel">
    <%= render :partial => "event_panel" %>
  </div>
</div>

<div id="gatherings" class="box">
  <h1>
    Featured gatherings
    <span class="see_all"><%= link_to "See all", { :action => "gathering_list" }, :class => "seeAll" %></span>
  </h1>

  <div id="gatherings_panel">
    <%= render :partial => "gathering_panel" %>
  </div>
</div>

<div id="friends" class="box">
  <h1>
    Friends coming to Youth'10
    <span class="see_all">
      <%= link_to "See all", { :action => "friend_list" }, :class => "seeAll" %>
    </span>
  </h1>
  
  <div id="friends_panel">
    <%= render :partial => "friend_panel" %>
  </div>
</div>

<div id="tickets_info" class="box">
  <h1>Your ticket information</h1>
  <% if @ticket_rsvp %>
    <%= render :partial => "ticket_info" %>
  <% else %>
    <div id="ticket_signup">
      <%= render :partial => "ticket_signup" %>
    </div>
  <% end %>
</div>

<div id="next_move" class="box">
  <h2>Your next move</h2>
  <div>
    <table id="next_move_table">
      <tr>
        <td>Get a ticket</td>
        <td><%= link_to "Book here for free", url_for(:action => "booking"), :class => "softLink" %></td>
      </tr>
      <tr>
        <td>Share the opportunities with your friends and get rewarded</td>
        <td><%= link_to "Invite your friends", url_for(:action => "giveaway"), :class => "softLink" %></td>
      </tr>
      <tr>
        <td>RSVP for an event</td>
        <td><%= link_to "See list of events", url_for(:action => "guide"), :class => "softLink" %></td>
      </tr>
      <tr>
        <td>Lend us a hand</td>
        <td><%= link_to "Become a volunteer", url_for(:action => "volunteer"), :class => "softLink" %></td>
      </tr>
    </table>
  </div>
</div>
