<div id="must_know" class="box">
  <h1>YOUTH '10 MUST KNOW information</h1>
  <div>
    <table>
      <tr>
        <td>
          <%= button_to_function "What's YOUTH '10?", :onclick => "show_info(1)", :class => "actionBtn" %><br/>
          <%= button_to_function "How to get a ticket?", :onclick => "show_info(2)", :class => "actionBtn" %><br/>
          <%= button_to_function "How to get there?", :onclick => "show_info(3)", :class => "actionBtn" %><br/>
          <%= button_to_function "Who should be there?", :onclick => "show_info(4)", :class => "actionBtn" %><br/>
        </td>
        <td width="200px">
          <div id="must_know_1" class="must_know_info">
            <strong>What's YOUTH '10?</strong><br/>
            Youth Festival is an annual event held by Youth Asia based on <a href="http://www.youthsays.com" target="_blank">YouthSays.com</a> community in Malaysia.<br/>

            Last year Youth '09 attracted more than 36'000 youth from all over the country with more than 100 events. This year Youth '10 expects to see 70'000 youths with a lot more exciting events and rewards!
          </div>
          <div id="must_know_2" class="must_know_info" style="display:none">
            <strong>How to get a ticket?</strong><br/>
            You can get a ticket on site for RM3 for 1 day and RM5 for all 3 days.
            But, why pay for it while you can get it for free?<br/>
            Head to the <%= link_to "BOOK TICKET", {:action => "booking"} %> page or <a href="http://www.youthsays.com" target="_blank">YouthSays.com</a> to get reserve a seat at YOUTH '10, free of charge!
          </div>
          <div id="must_know_3" class="must_know_info" style="display:none">
            <strong>How to get there?</strong><br/>
            By car<br/>
            Google map coming soon<br/>
            By train<br/>
            Take the LRT (Kelana Jaya Line) to KL Sentral, then take KLIA Express Transit to Putrajaya/Cyber Jaya Center, then take a bus to Putrajaya World Trade Center.<br/>
          </div>
          <div id="must_know_4" class="must_know_info" style="display:none">
            <strong>Who should be there?</strong><br/>
            Youths.<br/>
            Anyone between 15 and 35, of all races, religions is welcome to join. Let's celebrate Malaysia's largest youth festival together!<br/>
            More than 100 youth leaders, singers, dancers, sportsmen, etc. are also expected to show up.
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="guide_events" class="box">
  <h1>All events</h1>
  <table class="filter_table">
    <tr>
      <td>See only events on:</td>
      <td>
        <% date_params = {:date1 => params[:date1], :date2 => params[:date2], :date3 => params[:date3]} %>
        <% cat_params = {
          :cat1 => params[:cat1], :cat2 => params[:cat2], :cat3 => params[:cat3],
          :cat4 => params[:cat4], :cat5 => params[:cat5], :cat6 => params[:cat6],
          :cat7 => params[:cat7]
        } %>
        <% ["28", "29", "30"].each_with_index do |date, index| %>
          <% date_param = (params["date#{index + 1}".to_sym].to_i == 1 ? 0 : 1) %>
          <% class_name = (params["date#{index + 1}".to_sym].to_i == 1 ? "active" : "inactive") %>
          <%= link_to image_tag("/images/#{date}-#{class_name}.png", :alt => "Friday May #{date}"),
            {:action => "index"}.merge(cat_params.merge(date_params.merge("date#{index + 1}".to_sym => date_param)))
          %>
          &nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="padding: 0 0 20px 0;">See only events about:</td>
      <td style="padding: 0 0 20px 5px;">
        <% Event::CATEGORIES.each_with_index do |cat, index| %>
          <% cat_name = cat.gsub(" Festival", "").downcase.gsub(" ", "") %>
          <% cat_param = (params["cat#{index + 1}".to_sym].to_i == 1 ? 0 : 1) %>
          <% class_name = (params["cat#{index + 1}".to_sym].to_i == 1 ? "active" : "inactive") %>
          <%= link_to image_tag("/images/#{cat_name}-#{class_name}.png", :alt => cat),
            {:action => "index"}.merge(date_params.merge(cat_params.merge("cat#{index + 1}".to_sym => cat_param))) %>
            &nbsp;
            <% if index % 4 == 3 %>
              <br/>
            <% end %>
        <% end %>
      </td>
    </tr>
  </table>

  <div id="guide_event_panel">
    <%= render :partial => "guide_event", :collection => @events %>
  </div>
</div>

<div id="friends" class="box">
  <h1>
    Friends coming to YOUTH '10
    <span class="see_all">
      <%= link_to "See all", { :action => "friend_list" }, :class => "seeAll" %>
    </span>
  </h1>
  
  <div id="friends_panel">
    <%= render :partial => "friend_panel" %>
  </div>
</div>
