<div id="why_volunteer" class="box">
  <h1>Why volunteer at YOUTH '10?</h1>
  <div>
    <ul>
      <li>To be part of Malaysia's largest youth festival!</li>
      <li>To meet and work with other awesome youths from all over Malaysia.</li>
      <li>Direct access to the YOUTH'10 Organizing Team.</li>
      <li>First hand access to new information about news, events and contests for YOUTH '10.</li>
      <li>Selected volunteers will get free T-shirts and other interesting freebies!</li>
    </ul>
    
    If this sounds like you, don't hesitate to apply to be an official YOUTH'10 volunteer!
  </div>
</div>

<% if @already_applied %>
  <% if params[:registered] == "1" %>
    <script type="text/javascript">
      <%= volunteer_publisher %>
    </script>
  <% end %>
<% else %>
<div id="volunteer_form" class="box">
  <h1>Apply to become a volunteer</h1>
  <%= error_messages_for :volunteer %>
  <% form_for :volunteer, @volunteer, 
    :url => {:action => "create_volunteer"}, :html => {:multipart => true} do |f| %>
  <div>
    <table id="voulenteer_form">
      <tr>
        <td><%= f.text_field :name, :value => @volunteer.name || "Name", :onclick => "if (this.value == 'Name') this.value='';", :onblur => "if (this.value == '') this.value='Name';" %></td>
        <td><%= f.select :school, Volunteer::SCHOOLS, {}, {:class => "select_wide"} %></td>
        <td>Choose 3 positions you interested in:</td>
      </tr>
      <tr>
        <td><%= f.text_field :ic_number, :value => @volunteer.ic_number || "IC number", :onclick => "if (this.value == 'IC number') this.value='';", :onblur => "if (this.value == '') this.value='IC number';" %></td>
        <td><%= f.select :state, Volunteer::STATES, {}, {:class => "select_wide"} %></td>
        <td><%= f.select :position_1, Volunteer::POSITION, {}, {:class => "select_wide"} %></td>
      </tr>
      <tr>
        <td><%= f.text_field :email, :value => @volunteer.email || "Email", :onclick => "if (this.value == 'Email') this.value='';", :onblur => "if (this.value == '') this.value='Email';" %></td>
        <td></td>
        <td><%= f.select :position_2, Volunteer::POSITION, {}, {:class => "select_wide"} %></td>
      </tr>
      <tr>
        <td><%= f.text_field :phone, :value => @volunteer.phone || "Phone", :onclick => "if (this.value == 'Phone') this.value='';", :onblur => "if (this.value == '') this.value='Phone';" %></td>
        <td></td>
        <td><%= f.select :position_3, Volunteer::POSITION, {}, {:class => "select_wide"} %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.text_area :reason, :rows => 5, :cols => 60, :value => @volunteer.reason || "Tell us why you want to join YOUTH 10", :onclick => "if (this.value == 'Tell us why you want to join YOUTH 10') this.value='';", :onblur => "if (this.value == '') this.value='Tell us why you want to join YOUTH 10';" %></td>
        <td>
          <p>
            Your CV: <%= f.file_field :uploaded_data, :size => 10 %><br/>
            Files must be .txt, .doc, .docx or .pdf and smaller than 5MB
          </p>
          <p>
            <%= submit_tag "Submit", :class => "green" %>
          </p>
        </td>
      </tr>
    </table>
  </div>
  <% end %>
</div>
<% end %>

<div id="volunteer_opp" class="box">
  <h1>
    Volunteers Opportunities
  </h1>
  <div>
    <strong>General Requirements</strong><br/>
    <ul>
      <li>You must be between 18 and 35 years old.</li>
      <li>You must be available during the festival.</li>
    </ul>

    <table>
      <tr>
        <td><strong>Position</strong></td>
        <td><strong>Job Description</strong></td>
        <td><strong>Special Requirements</strong></td>
      </tr>
      <tr>
        <td>Registration Officer</td>
        <td>
          <ul>
            <li>To check the tickets  on the event day</li>
          </ul>
        </td>
        <td>None</td>
      </tr>
      <tr>
        <td>Security Officer</td>
        <td>
          <ul>
            <li>To check if attendees are wearing their wristbands.</li>
          </ul>
        </td>
        <td>You must be friendly!</td>
      </tr>
      <tr>
        <td>Mover</td>
        <td>
          <ul>
            <li>To prepare the settings of the venue</li>
          </ul>
        </td>
        <td>For those who are big and strong, or at least think they are big and strong.</td>
      </tr>
      <tr>
        <td>Photographer</td>
        <td>
          <ul>
            <li>To take pictures of events, people during the festival</li>
          </ul>
        </td>
        <td>You must have a camera</td>
      </tr>
      <tr>
        <td>Cameraman</td>
        <td>
          <ul>
            <li>To record videos during the festival</li>
          </ul>
        </td>
        <td>You must have a video-recorder</td>
      </tr>
      <tr>
        <td>Event Assistant</td>
        <td>
          <ul>
            <li>To assist the organizers of each event</li>
            <li>To make sure people/equipments needed are there</li>
          </ul>
        </td>
        <td>None</td>
      </tr>
      <tr>
        <td>Guerilla Street Promoter</td>
        <td>
          <ul>
            <li>To join other street promoters in the guerilla street promotion</li>
          </ul>
        </td>
        <td>You must be energetic!</td>
      </tr>
      <tr>
        <td>Usher</td>
        <td>
          <ul>
            <li>To help people find the places they want to go to</li>
          </ul>
        </td>
        <td>You must enjoy helping people.</td>
      </tr>
      <tr>
        <td>Transporters*</td>
        <td>
          <ul>
            <li>To go around, fetch people/equipments</li>
          </ul>
        </td>
        <td>You must have a car</td>
      </tr>
    </table>

    The * indicates that volunteers in this position will get a small allowance to compensate the expenses occurred.
  </div>
</div>

<div id="volunteer_list" class="box">
  <h1>
    Volunteers at YOUTH '10
    <span class="see_all">
      <%= link_to "See all", { :action => "volunteer_list" }, :class => "seeAll" %>
    </span>
  </h1>
  <div id="volunteers_panel">
    <%= render :partial => "volunteer_panel" %>
  </div>
</div>